.container {
    display: flex;
    flex-direction: row;

}

.nabBtn {
    margin-left: 20px;
    color: blue;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.ItemBox {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ItemRow {
    width: 10em;
}

.ItemRow,
span {
    margin-left: 10px;
    margin-right: 10px;
}

.Agregar {
    margin-top: 20px;
}


.listaItem {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    border: 11px;
    border-color: black;

}

.listaItem div {
    border-width: 2px;
    background-color: burlywood;
    width: 150px;
}

.foto {
    height: 100px;
    width: 100px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}